<br/>
<br/>
<br/>
<!--<b><center><h3>{{msg}} This is an message page..<h3/><center/><b/>-->

<h1> A NodeJS View</h1>
<form action="/message" method="post">
<input type="text" name="data">
<button type="submit">OK</button>
<br/>
<br/>
{{msg}}
</form>